:root {
    --color_clue: azure;
    --color_hint: rgb(43, 198, 226);
}
[data-theme="dark"] {                   
    --color_clue: black;
    --color_hint: rgb(3, 42, 49);
}
.carts {
    width: 60%;
    height: 80%;
    left: 20%;
    bottom: 10%;
    position: absolute;
    text-align: left;
}
.button {
    position: absolute;
    bottom: 5%;
    left: 45%;
}
picture {
    position: absolute;
    bottom: 50%;
    left: 28%;
}
.hint {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 90%;
    left: 1%;
    /*background-color: rgb(43, 198, 226);*/
    background-color: var(--color_hint);
    border: 0px;
    border-radius: 10px;
}
.cart1{
    position: absolute;
    bottom: 30%;
}
.yes1, .no1 {
    display: none;
    position: absolute;
    bottom: 18%;
}
.clue {
    position: absolute;
    width: 280px;
    height: 100px;
    top: 85%;
    left: 5%;
    /*background-color: azure;*/
    background-color: var(--color_clue);
}