:root {
    --color_clue: #ffffff;
    --color_hint: rgb(43, 198, 226);
}

[data-theme="dark"] {
    --color_clue: black;
    --color_hint: rgb(3, 42, 49);
}

.cart1 {
    position: absolute;
    bottom: 30%;
}

@media screen and (min-width: 960px) {
    .carts {
        width: 60%;
        height: 80%;
        left: 20%;
        top: 10%;
        position: absolute;
        text-align: left;
    }

    picture {
        position: absolute;
        bottom: 50%;
        left: 28%;
    }

    .button {
        position: absolute;
        bottom: 5%;
        left: 45%;
    }

    .yes1,
    .no1 {
        display: none;
        overflow-y: scroll;
    }

    .clue {
        position: absolute;
        width: 280px;
        height: 100px;
        top: 85%;
        left: 5%;
        /*background-color: azure;*/
        background-color: var(--color_clue);
    }

    .hint {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 90%;
        left: 1%;
        /*background-color: rgb(43, 198, 226);*/
        background-color: var(--color_hint);
        border: 0px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 960px) {
    .carts {
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        position: absolute;
        text-align: left;
    }

    picture {
        position: absolute;
        bottom: 65%;
        left: 23%;
    }
    
    .button {
        position: absolute;
        bottom: 5%;
        left: 37%;
    }

    .yes1,
    .no1 {
        display: none;
        overflow-y: scroll;
    }

    .clue {
        position: absolute;
        width: 280px;
        height: 100px;
        top: 80%;
        left: 15%;
        /*background-color: azure;*/
        background-color: var(--color_clue);
    }

    .hint {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 94%;
        left: 1%;
        /*background-color: rgb(43, 198, 226);*/
        background-color: var(--color_hint);
        border: 0px;
        border-radius: 10px;
    }
}