@media screen and (min-width: 960px) {
    .text {
        width: 90%;
        height: 80%;
        position: absolute;
        bottom: 2%;
        left: 5%;
        text-align: justify;
        overflow-y: scroll;
    }
    
    .heading {
        width: 50%;
        height: 10%;
        position: absolute;
        left: 5%;
        top: 3%;
    }
}
@media screen and (max-width: 960px) {
    .text {
        width: 90%;
        height: 75%;
        position: absolute;
        bottom: 2%;
        left: 5%;
        text-align: justify;
        overflow-y: scroll;
    }

    .heading {
        width: 90%;
        height: 15%;
        position: absolute;
        left: 5%;
        top: 3%;
    }
}