a:hover { 
    font-family: sans-serif; color: rgb(174, 0, 255); 
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
	padding: 0;
    background-color: blue;
}
div {
    width: 400px;
    height: 60px;
    background-color: rgb(248, 207, 146);
}
.stand {
    width: 660px;
    height: 160px;
    bottom: 80%;
    left: 30%;
    position: absolute;
}
.TM {
    bottom: 60%;
    left: 37%;
    position: absolute;
}
.CM {
    bottom: 40%;
    left: 45%;
    position: absolute;
}
.TeM {
    bottom: 20%;
    left: 35%;
    position: absolute;
}